
#u37889_img.mouseOver {
}
#u37889.mouseOver {
  opacity:0.8;
}
#u37889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u37890 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:109px;
  width:7px;
  height:7px;
  display:flex;
}
#u37890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37890_img.mouseOver {
}
#u37890.mouseOver {
  opacity:0.8;
}
#u37890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:4px;
}
#u37891 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:112px;
  width:11px;
  height:4px;
  display:flex;
}
#u37891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37891_img.mouseOver {
}
#u37891.mouseOver {
  opacity:0.8;
}
#u37891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37892 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u37892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37892_img.mouseOver {
}
#u37892.mouseOver {
  opacity:0.8;
}
#u37892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37893 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u37893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37893_img.mouseOver {
}
#u37893.mouseOver {
  opacity:0.8;
}
#u37893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37894 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u37894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37894_img.mouseOver {
}
#u37894.mouseOver {
  opacity:0.8;
}
#u37894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u37895 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:115px;
  width:44px;
  height:38px;
  display:flex;
}
#u37895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37895_img.mouseOver {
}
#u37895.mouseOver {
  opacity:0.8;
}
#u37895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u37896 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:115px;
  width:8px;
  height:8px;
  display:flex;
}
#u37896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37896_img.mouseOver {
}
#u37896.mouseOver {
  opacity:0.8;
}
#u37896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u37897 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:119px;
  width:14px;
  height:7px;
  display:flex;
}
#u37897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37897_img.mouseOver {
}
#u37897.mouseOver {
  opacity:0.8;
}
#u37897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u37898 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:122px;
  width:8px;
  height:4px;
  display:flex;
}
#u37898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37898_img.mouseOver {
}
#u37898.mouseOver {
  opacity:0.8;
}
#u37898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37899 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:122px;
  width:4px;
  height:4px;
  display:flex;
}
#u37899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37899_img.mouseOver {
}
#u37899.mouseOver {
  opacity:0.8;
}
#u37899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u37900 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:125px;
  width:8px;
  height:15px;
  display:flex;
}
#u37900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37900_img.mouseOver {
}
#u37900.mouseOver {
  opacity:0.8;
}
#u37900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u37901 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:129px;
  width:24px;
  height:24px;
  display:flex;
}
#u37901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37901_img.mouseOver {
}
#u37901.mouseOver {
  opacity:0.8;
}
#u37901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u37902 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:129px;
  width:8px;
  height:8px;
  display:flex;
}
#u37902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37902_img.mouseOver {
}
#u37902.mouseOver {
  opacity:0.8;
}
#u37902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37903 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:129px;
  width:4px;
  height:4px;
  display:flex;
}
#u37903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37903_img.mouseOver {
}
#u37903.mouseOver {
  opacity:0.8;
}
#u37903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u37904 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:136px;
  width:11px;
  height:11px;
  display:flex;
}
#u37904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37904_img.mouseOver {
}
#u37904.mouseOver {
  opacity:0.8;
}
#u37904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u37905 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:139px;
  width:5px;
  height:4px;
  display:flex;
}
#u37905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37905_img.mouseOver {
}
#u37905.mouseOver {
  opacity:0.8;
}
#u37905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u37906 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:142px;
  width:11px;
  height:11px;
  display:flex;
}
#u37906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37906_img.mouseOver {
}
#u37906.mouseOver {
  opacity:0.8;
}
#u37906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u37907 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:146px;
  width:11px;
  height:7px;
  display:flex;
}
#u37907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37907_img.mouseOver {
}
#u37907.mouseOver {
  opacity:0.8;
}
#u37907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u37908 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:149px;
  width:5px;
  height:4px;
  display:flex;
}
#u37908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37908_img.mouseOver {
}
#u37908.mouseOver {
  opacity:0.8;
}
#u37908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37909 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u37909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37909_img.mouseOver {
}
#u37909.mouseOver {
  opacity:0.8;
}
#u37909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37910 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u37910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37910_img.mouseOver {
}
#u37910.mouseOver {
  opacity:0.8;
}
#u37910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u37911 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u37911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37911_img.mouseOver {
}
#u37911.mouseOver {
  opacity:0.8;
}
#u37911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
}
#u37912 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:76px;
  width:34px;
  height:28px;
  display:flex;
}
#u37912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37912_img.mouseOver {
}
#u37912.mouseOver {
  opacity:0.8;
}
#u37912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u37913 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:81px;
  width:5px;
  height:5px;
  display:flex;
}
#u37913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37913_img.mouseOver {
}
#u37913.mouseOver {
  opacity:0.8;
}
#u37913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u37914 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:81px;
  width:5px;
  height:5px;
  display:flex;
}
#u37914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37914_img.mouseOver {
}
#u37914.mouseOver {
  opacity:0.8;
}
#u37914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
}
#u37915 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:90px;
  width:4px;
  height:3px;
  display:flex;
}
#u37915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37915_img.mouseOver {
}
#u37915.mouseOver {
  opacity:0.8;
}
#u37915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
}
#u37916 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:90px;
  width:4px;
  height:3px;
  display:flex;
}
#u37916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37916_img.mouseOver {
}
#u37916.mouseOver {
  opacity:0.8;
}
#u37916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BDC3C7;
}
#u37917 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:173px;
  width:173px;
  height:21px;
  display:flex;
  color:#BDC3C7;
}
#u37917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37917_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BDC3C7;
}
#u37917.mouseOver {
}
#u37917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37919 {
  position:fixed;
  right:80px;
  bottom:146px;
}
#u37919_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37919_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
}
#u37920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u37920 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37920_img.selected {
}
#u37920.selected {
  opacity:0.8;
}
#u37920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u37921 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:35px;
  height:19px;
  display:flex;
}
#u37921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37922 {
  position:fixed;
  right:80px;
  bottom:69px;
}
#u37922_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37922_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
}
#u37923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u37923 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37923_img.selected {
}
#u37923.selected {
  opacity:0.8;
}
#u37923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u37924 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:9px;
  width:35px;
  height:35px;
  display:flex;
}
#u37924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3650px;
  width:1200px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37926 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u37926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37926_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37926.mouseOver {
}
#u37926_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37926.selected {
}
#u37926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37927 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u37927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37927_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37927.mouseOver {
}
#u37927_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37927.selected {
}
#u37927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37928 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u37928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37928_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37928.mouseOver {
}
#u37928_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37928.selected {
}
#u37928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37929 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u37929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37929_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37929.mouseOver {
}
#u37929_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u37929.selected {
}
#u37929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
