
#u35584_img.mouseOver {
}
#u35584.mouseOver {
  opacity:0.8;
}
#u35584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u35585 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:109px;
  width:7px;
  height:7px;
  display:flex;
}
#u35585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35585_img.mouseOver {
}
#u35585.mouseOver {
  opacity:0.8;
}
#u35585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:4px;
}
#u35586 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:112px;
  width:11px;
  height:4px;
  display:flex;
}
#u35586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35586_img.mouseOver {
}
#u35586.mouseOver {
  opacity:0.8;
}
#u35586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35587 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u35587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35587_img.mouseOver {
}
#u35587.mouseOver {
  opacity:0.8;
}
#u35587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35588 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u35588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35588_img.mouseOver {
}
#u35588.mouseOver {
  opacity:0.8;
}
#u35588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35589 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:112px;
  width:4px;
  height:4px;
  display:flex;
}
#u35589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35589_img.mouseOver {
}
#u35589.mouseOver {
  opacity:0.8;
}
#u35589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u35590 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:115px;
  width:44px;
  height:38px;
  display:flex;
}
#u35590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35590_img.mouseOver {
}
#u35590.mouseOver {
  opacity:0.8;
}
#u35590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u35591 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:115px;
  width:8px;
  height:8px;
  display:flex;
}
#u35591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35591_img.mouseOver {
}
#u35591.mouseOver {
  opacity:0.8;
}
#u35591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:7px;
}
#u35592 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:119px;
  width:14px;
  height:7px;
  display:flex;
}
#u35592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35592_img.mouseOver {
}
#u35592.mouseOver {
  opacity:0.8;
}
#u35592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:4px;
}
#u35593 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:122px;
  width:8px;
  height:4px;
  display:flex;
}
#u35593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35593_img.mouseOver {
}
#u35593.mouseOver {
  opacity:0.8;
}
#u35593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35594 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:122px;
  width:4px;
  height:4px;
  display:flex;
}
#u35594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35594_img.mouseOver {
}
#u35594.mouseOver {
  opacity:0.8;
}
#u35594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u35595 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:125px;
  width:8px;
  height:15px;
  display:flex;
}
#u35595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35595_img.mouseOver {
}
#u35595.mouseOver {
  opacity:0.8;
}
#u35595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u35596 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:129px;
  width:24px;
  height:24px;
  display:flex;
}
#u35596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35596_img.mouseOver {
}
#u35596.mouseOver {
  opacity:0.8;
}
#u35596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u35597 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:129px;
  width:8px;
  height:8px;
  display:flex;
}
#u35597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35597_img.mouseOver {
}
#u35597.mouseOver {
  opacity:0.8;
}
#u35597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35598 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:129px;
  width:4px;
  height:4px;
  display:flex;
}
#u35598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35598_img.mouseOver {
}
#u35598.mouseOver {
  opacity:0.8;
}
#u35598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u35599 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:136px;
  width:11px;
  height:11px;
  display:flex;
}
#u35599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35599_img.mouseOver {
}
#u35599.mouseOver {
  opacity:0.8;
}
#u35599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u35600 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:139px;
  width:5px;
  height:4px;
  display:flex;
}
#u35600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35600_img.mouseOver {
}
#u35600.mouseOver {
  opacity:0.8;
}
#u35600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u35601 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:142px;
  width:11px;
  height:11px;
  display:flex;
}
#u35601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35601_img.mouseOver {
}
#u35601.mouseOver {
  opacity:0.8;
}
#u35601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:7px;
}
#u35602 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:146px;
  width:11px;
  height:7px;
  display:flex;
}
#u35602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35602_img.mouseOver {
}
#u35602.mouseOver {
  opacity:0.8;
}
#u35602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u35603 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:149px;
  width:5px;
  height:4px;
  display:flex;
}
#u35603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35603_img.mouseOver {
}
#u35603.mouseOver {
  opacity:0.8;
}
#u35603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35604 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u35604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35604_img.mouseOver {
}
#u35604.mouseOver {
  opacity:0.8;
}
#u35604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35605 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u35605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35605_img.mouseOver {
}
#u35605.mouseOver {
  opacity:0.8;
}
#u35605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u35606 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:149px;
  width:4px;
  height:4px;
  display:flex;
}
#u35606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35606_img.mouseOver {
}
#u35606.mouseOver {
  opacity:0.8;
}
#u35606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
}
#u35607 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:76px;
  width:34px;
  height:28px;
  display:flex;
}
#u35607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35607_img.mouseOver {
}
#u35607.mouseOver {
  opacity:0.8;
}
#u35607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u35608 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:81px;
  width:5px;
  height:5px;
  display:flex;
}
#u35608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35608_img.mouseOver {
}
#u35608.mouseOver {
  opacity:0.8;
}
#u35608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u35609 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:81px;
  width:5px;
  height:5px;
  display:flex;
}
#u35609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35609_img.mouseOver {
}
#u35609.mouseOver {
  opacity:0.8;
}
#u35609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
}
#u35610 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:90px;
  width:4px;
  height:3px;
  display:flex;
}
#u35610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35610_img.mouseOver {
}
#u35610.mouseOver {
  opacity:0.8;
}
#u35610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
}
#u35611 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:90px;
  width:4px;
  height:3px;
  display:flex;
}
#u35611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35611_img.mouseOver {
}
#u35611.mouseOver {
  opacity:0.8;
}
#u35611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BDC3C7;
}
#u35612 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:173px;
  width:173px;
  height:21px;
  display:flex;
  color:#BDC3C7;
}
#u35612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35612_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BDC3C7;
}
#u35612.mouseOver {
}
#u35612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u35614 {
  position:fixed;
  right:80px;
  bottom:146px;
}
#u35614_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35614_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
}
#u35615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35615 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35615_img.selected {
}
#u35615.selected {
  opacity:0.8;
}
#u35615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
}
#u35616 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:35px;
  height:19px;
  display:flex;
}
#u35616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35617 {
  position:fixed;
  right:80px;
  bottom:69px;
}
#u35617_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35617_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
}
#u35618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:72px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35618 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35618_img.selected {
}
#u35618.selected {
  opacity:0.8;
}
#u35618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u35619 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:9px;
  width:35px;
  height:35px;
  display:flex;
}
#u35619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3650px;
  width:1200px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35621 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u35621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35621.mouseOver {
}
#u35621_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35621.selected {
}
#u35621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35622 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u35622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35622_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35622.mouseOver {
}
#u35622_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35622.selected {
}
#u35622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35623 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u35623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35623_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35623.mouseOver {
}
#u35623_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35623.selected {
}
#u35623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35624 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:650px;
  width:288px;
  height:70px;
  display:flex;
  color:#20BCEA;
}
#u35624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35624.mouseOver {
}
#u35624_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:70px;
  background:inherit;
  background-color:rgba(44, 122, 223, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  -webkit-box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  box-shadow:3px 3px 5px rgba(227, 243, 253, 1);
  color:#20BCEA;
}
#u35624.selected {
}
#u35624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
