body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:460px;
  display:flex;
}
#u22441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22442 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:30px;
  width:1200px;
  height:360px;
  touch-action:pan-y;
}
#u22442_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22442_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u22444 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u22444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u22445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u22445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u22446 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:600px;
  height:360px;
  display:flex;
}
#u22446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u22447 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u22447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u22448 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u22448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u22449 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:400px;
  width:193px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u22449 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22449_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u22450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u22450 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:400px;
  width:28px;
  height:30px;
  display:flex;
}
#u22450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22450_img.disabled {
}
#u22450.disabled {
}
#u22450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u22451 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:400px;
  width:28px;
  height:30px;
  display:flex;
}
#u22451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22451_img.disabled {
}
#u22451.disabled {
}
#u22451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u22453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22452-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22452-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
}
#u22452-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:20px;
  height:20px;
}
#u22452-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:20px;
}
#u22452-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:20px;
  height:20px;
}
#u22452 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:160px;
  width:20px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
