body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:460px;
  display:flex;
}
#u21401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21402 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:30px;
  width:1200px;
  height:360px;
  touch-action:pan-y;
}
#u21402_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:360px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21402_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u21404 {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u21404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u21405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u21405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:360px;
}
#u21406 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:600px;
  height:360px;
  display:flex;
}
#u21406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u21407 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u21407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
}
#u21408 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:90px;
  width:300px;
  height:180px;
  display:flex;
}
#u21408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u21409 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:400px;
  width:193px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:center;
}
#u21409 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u21409_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u21410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21410 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:400px;
  width:28px;
  height:30px;
  display:flex;
}
#u21410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21410_img.disabled {
}
#u21410.disabled {
}
#u21410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u21411 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:400px;
  width:28px;
  height:30px;
  display:flex;
}
#u21411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21411_img.disabled {
}
#u21411.disabled {
}
#u21411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u21413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21412-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21412-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:20px;
  height:20px;
}
#u21412-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:20px;
  height:20px;
}
#u21412-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:20px;
}
#u21412-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:20px;
  height:20px;
}
#u21412 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:160px;
  width:20px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
