body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  display:flex;
}
#u21414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u21416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21415-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21415-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u21415-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:50px;
  height:50px;
}
#u21415-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:50px;
}
#u21415-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:50px;
  height:50px;
}
#u21415 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:140px;
  width:50px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u21417 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:25px;
  width:400px;
  height:480px;
  touch-action:pan-x;
}
#u21417_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21417_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21419 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-120px;
  width:200px;
  height:120px;
  display:flex;
}
#u21419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21420 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:120px;
  display:flex;
}
#u21420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:240px;
}
#u21421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:240px;
  display:flex;
}
#u21421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21422 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:200px;
  height:120px;
  display:flex;
}
#u21422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21423 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:480px;
  width:200px;
  height:120px;
  display:flex;
}
#u21423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
