body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u21794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  display:flex;
}
#u21794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u21796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21795-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21795-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u21795-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:50px;
  height:50px;
}
#u21795-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:50px;
}
#u21795-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:50px;
  height:50px;
}
#u21795 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:140px;
  width:50px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u21797 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:25px;
  width:400px;
  height:480px;
  touch-action:pan-x;
}
#u21797_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21797_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21799 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-120px;
  width:200px;
  height:120px;
  display:flex;
}
#u21799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21800 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:120px;
  display:flex;
}
#u21800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:240px;
}
#u21801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:240px;
  display:flex;
}
#u21801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21802 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:200px;
  height:120px;
  display:flex;
}
#u21802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u21803 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:480px;
  width:200px;
  height:120px;
  display:flex;
}
#u21803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
