body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:530px;
  display:flex;
}
#u8337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u8339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8338-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8338-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:50px;
}
#u8338-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:50px;
  height:50px;
}
#u8338-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:50px;
}
#u8338-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:50px;
  height:50px;
}
#u8338 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:140px;
  width:50px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8340 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:25px;
  width:400px;
  height:480px;
  touch-action:pan-x;
}
#u8340_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8340_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-120px;
  width:200px;
  height:120px;
  display:flex;
}
#u8342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:120px;
  display:flex;
}
#u8343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:240px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:400px;
  height:240px;
  display:flex;
}
#u8344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:360px;
  width:200px;
  height:120px;
  display:flex;
}
#u8345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:480px;
  width:200px;
  height:120px;
  display:flex;
}
#u8346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
