body {
  margin:0px;
  background-color:rgba(249, 250, 253, 1);
  background-image:url('../../images/_login/bg.svg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:contain;
  background-origin:border-box;
  position:relative;
  left:0px;
  width:449px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u52225 {
  position:absolute;
  left:0px;
  top:310px;
}
#u52225_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:449px;
  height:378px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:55px;
  background:inherit;
  background-color:rgba(249, 250, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1980FF;
}
#u52226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:55px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#1980FF;
}
#u52226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:323px;
  background:inherit;
  background-color:rgba(249, 250, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:449px;
  height:323px;
  display:flex;
}
#u52227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:44px;
  background:inherit;
  background-color:rgba(25, 128, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u52228 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:300px;
  width:409px;
  height:44px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u52228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52228_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:44px;
  background:inherit;
  background-color:rgba(107, 173, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u52228.mouseOver {
}
#u52228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1980FF;
  text-align:center;
}
#u52229 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:165px;
  width:54px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1980FF;
  text-align:center;
}
#u52229 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1980FF;
  text-align:center;
}
#u52230 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:71px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1980FF;
  text-align:center;
}
#u52230 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52231 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:250px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52231 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52231_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52231.mouseOver {
}
#u52231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  padding:3px 2px 3px 30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52232_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  padding:3px 2px 3px 30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 211, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52232 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:195px;
  width:409px;
  height:43px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u52232_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 211, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52232.disabled {
}
#u52233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  padding:3px 2px 3px 30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52233_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  padding:3px 2px 3px 30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  letter-spacing:normal;
  color:#666666;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u52233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 211, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52233 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:102px;
  width:409px;
  height:43px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u52233_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(198, 211, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u52233.disabled {
}
#u52234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52234 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:250px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52234 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52234_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u52234.mouseOver {
}
#u52234_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52235 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:165px;
  width:355px;
  height:24px;
  display:flex;
}
#u52235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u52236 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:117px;
  width:14px;
  height:14px;
  display:flex;
}
#u52236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u52237 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:211px;
  width:14px;
  height:11px;
  display:flex;
}
#u52237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52238 {
  position:absolute;
  left:0px;
  top:257px;
}
#u52238_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52238_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-bottom:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 22px;
  box-sizing:border-box;
  width:100%;
}
#u52239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  background:inherit;
  background-color:rgba(116, 187, 17, 1);
  border:none;
  border-right:0px;
  border-bottom:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  display:flex;
}
#u52240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52238_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u52238_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 22px;
  box-sizing:border-box;
  width:100%;
}
#u52241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  background:inherit;
  background-color:rgba(116, 187, 17, 1);
  border:none;
  border-right:0px;
  border-radius:3px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  display:flex;
}
#u52242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52243 {
  position:absolute;
  left:0px;
  top:297px;
  visibility:hidden;
}
#u52243_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52243_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:42px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u52244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 22px;
  box-sizing:border-box;
  width:100%;
}
#u52244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:42px;
  display:flex;
}
#u52245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u52246 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:13px;
  width:16px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u52246 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52243_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:449px;
  height:66px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u52243_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 231, 239, 1);
  border-top:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u52247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:66px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u52247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 22px;
  box-sizing:border-box;
  width:100%;
}
#u52247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:66px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:66px;
  display:flex;
}
#u52248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u52249 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:25px;
  width:16px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u52249 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u52250 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:35px;
  width:393px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u52250 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u52251 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:11px;
  width:393px;
  height:20px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u52251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u52252 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:150px;
  width:80px;
  height:80px;
  display:flex;
  text-align:right;
}
#u52252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52254 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  bottom:0px;
}
#u52254_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52254_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u52255 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:47px;
  width:32px;
  height:22px;
  display:flex;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u52255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52255_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u52255.mouseOver {
}
#u52255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52256 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:48px;
  width:28px;
  height:21px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52256_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52256.mouseOver {
}
#u52256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52257 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:48px;
  width:28px;
  height:21px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u52257_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u52257.mouseOver {
}
#u52257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u52258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u52258 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:0px;
  width:48px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u52258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u52259 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:98px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u52259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
}
#u52260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:300px;
  height:29px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.447058823529412);
  text-align:center;
}
#u52260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52262 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:80px;
  height:80px;
  visibility:hidden;
}
#u52262_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52262_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u52263_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u52263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
}
#u52263 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52263_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52263.disabled {
}
